body {
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    background-color: white;
    width: 500px;
    height: 400px;
    overflow: hidden;
}
header {
    position: fixed;
    width: 500px;
    background: linear-gradient(58deg, rgba(241,196,15,1) 20%, rgba(243,172,18,1) 100%);
    padding-bottom: 0;
    transition: all .5s;
}

.top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: large;
}
.logo span:nth-child(1) {
    color: blanchedalmond;
}
.logo span:nth-child(2) {
    color: cornsilk;
}
.profile {
    display: flex;
}
header a {
    font-size: 20px;
    padding-right: 10px;
    color: blanchedalmond;
    transition: 0.3s;
}
header a:hover {
    text-decoration: none;
    color: cornsilk;
}

.image-cropper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image {
    display: inline-block;
    width: auto;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.button {
    border: none;
    padding: 5px;
    width: 100%;
    color: white;
    background: none;
    transition: 0.3s;
}

.button:hover {
    color: cornsilk;
}

.button:focus {
    border: none;
    outline: none;

    color: cornsilk;
}

.clicked {
    border-bottom: 2px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 320px;
}

.invisible {
    display: none;
}

/* loading spinner */

.loading-spinner {
    margin-top: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
    border-color: rgba(243,172,18,1) rgba(243,172,18,1) rgba(243,172,18,1) transparent;
    animation: loading-spinner .5s ease-in-out infinite;
}

@keyframes loading-spinner {
    0% {
        opacity: 0; 
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

/* STATS WINDOW */
/* CHARTS */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.charts { 
    position: absolute;
    margin-top: 150px;
    height: 200px;
    width: 200px;
    left: 150px;
    top: 0px;
    filter: drop-shadow( 3px 3px 20px rgba(0, 0, 0, .3));
    animation: fadein .5s;
    transition: all 1s ease-in-out;
}

.chart {
    position: absolute;
    transition: all 1s;
    animation: fadein .5s;
}

.progress-ring-circle {
    stroke-width: 5px;
    transition: 1s stroke-dashoffset ease-in-out;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-linecap: round;
}

#content .charts p {
    position: absolute;
    color: black;
    font-size: large;
    font-weight: 500;
    top: 90px;
    left: 90px;
    transition: 1s linear;
    animation: fadein .5s;
}

/* TITLE */ 
.title {
    position: absolute;
    top: 100px;
    font-size: large;
    animation: fadein .5s;
    transition: 1s linear;
}

/* TABLE */
.table {
    animation: fadein .5s;
    margin-top: 220px;
    padding: 0;
    position: absolute;
    padding: 10px;
    left: 250px;
}
tr td, p {
    padding: 0 !important;
    margin: 0 !important;
    animation: fadein .5s;
}
td {
    border: none !important;
}
tr {
    font-size: small;
}
.table .line, .table .lineBG {
    position: absolute;
    margin-left: 35px;
    margin-top: 8px;
    height: 5px;
    border-radius: 10px;
} 
.table .line {
    width: 0;
    transition: all 1s;
}

.table .lineBG {
    width: 60px;
    background-color: lightgrey;
    transition: all 1s;
} 
.table .line:hover {
    margin-top: 6px;
    height: 8px;
}
.table > table > p {
    background-color: #007e33;
    font-weight: 500;
    text-align: right;
}

.content .opinion-box {
    position: absolute;
    top: 110px;
    animation: fadein .5s;
}

.content .opinion-box h1 {
    font-size: 20px;
    padding: 10px;
}

.content .opinion-box .opinions-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.content .opinion-box .opinions-grid .item {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}

.content .opinion-box .opinions-grid .item:hover {
    opacity: 1;
}

.content .opinion-box .opinions-grid .indecent_content {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;

}
.neutral {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: #e3f8ff;
    color: #13475a;
    border: 1px solid #33b5e5;
}

.reliable {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #e8fff1;
    color: green;
    border: 1px solid green;
}

.safe {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #e8fff1;
    color: green;
    border: 1px solid green;
}

.virus {
    width: 90px;
    background-color: #ffe9e9;
    color: #4e0000;
    border: 1px solid #ff0000;
}

.fraud {
    background-color: #ffe9e9;
    color: #4e0000;
    border: 1px solid #ff0000;
}

.indecent_content {
    width: 170px;
    background-color: #ffe9e9;
    color: #4e0000;
    border: 1px solid #ff0000;
}

.fake_news {
    background-color: #ffe9e9;
    color: #4e0000;
    border: 1px solid #ff0000;
}


.FRAUD {background-color: #ff4444;}
.INDECENT_CONTENT {background-color: red;}
.FAKE_NEWS {background-color: #cc0000;}
.VIRUS {background-color: #b34045;}
.RELIABLE {background-color: #00c851;}
.SAFE {background-color: #007e33;}
.NEUTRAL {background-color: #33b5e5;}

.danger {
    stroke: red;
    color: red;
}
.warning {
    stroke: orange;
    color: orange;
}
.caution {
    stroke: yellow;
    color: yellow;
}
.ok {
    stroke: green;
    color: green;
}
.grey {
    stroke: lightgrey;
    color: #33b5e5;
}

.bi {
    margin-left: 20px;
    padding-bottom: 40px;
    font-size: 50px;
}
