body {
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    background-color: white;
    width: 500px;
    height: 400px;
    overflow: hidden;
}
header {
    background: linear-gradient(58deg, rgba(241,196,15,1) 20%, rgba(243,172,18,1) 100%);
    padding-bottom: 0;
}

.top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: large;
}
.logo span:nth-child(1) {
    color: blanchedalmond;
}
.logo span:nth-child(2) {
    color: cornsilk;
}
.profile {
    display: flex;
}
.profile a {
    font-size: 20px;
    padding-right: 10px;
    color: blanchedalmond;
    transition: 0.3s;
}
.profile a:hover {
    text-decoration: none;
    color: cornsilk;
}
.profile-image {
    flex: end;
    display: inline-block;
    width: auto;
    height: 30px;
    border-radius: 50%;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.button {
    border: none;
    padding: 5px;
    width: 100%;
    color: white;
    background: none;
    transition: 0.3s;
}

.button:hover {
    color: cornsilk;
}

.button:focus {
    border: none;
    outline: none;

    color: cornsilk;
}

.clicked {
    border-bottom: 2px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 320px;
}

.invisible {
    display: none;
}

/* loading spinner */

.loading-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
    border-color: rgba(243,172,18,1) rgba(243,172,18,1) rgba(243,172,18,1) transparent;
    animation: loading-spinner .7s ease-in-out infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* charts */

.chart {
    position: absolute;
    top: 200px;
    left: 175px;
}

.progress-ring-circle {
    outline: none;
    stroke-width: 5;
    transition: .3s stroke-dashoffset;
    transform: rotate(135deg);
    transform-origin: 50% 50%;
}


.FRAUD {stroke: rebeccapurple;}
.INDECENT_CONTENT {stroke: red;}
.FAKE_NEWS {stroke: yellow;}
.VIRUS {stroke: black;}
.RELIABLE {stroke: green;}
.SAFE {stroke: greenyellow;}
.NEUTRAL {stroke: blue;}